<div class="container success-created">
  <h1>URL CREATED!</h1>
  <br />
  <br />
  <h2>Your original link: {{{ URL.longURL }}}</h2>
  <br />
  <h2>Your shortened link: <a href="/{{{ URL.shortURL }}}">localhost:3000/{{{URL.shortURL}}}</a></h2>
</div>

