.container-head {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

img {
  height: 300px;
  width: 300px;
  display: flex;
  align-self: center;
  margin: 30px;
}

h1 {
  text-align: center;
  color: rgb(53, 104, 245);
}

h2 {
  text-align: center;
}

.fill-in {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

.success-created {
  margin: 50px;
}